.css-v6mo1y-MuiTimelineDot-root{
    background-color:#D9186A!important;
}

body{
    /* background: #F2E2E3;  */
}

/* .title::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    bottom: 3em;
    left: calc(50% - 60px);
    background-color: #6883BA;
}

.title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #3F3F3F;
    bottom: 3em;
    left: calc(50% - 20px);
} */

@media only screen and (max-width: 1024px) {

    .css-ghevlx-MuiTypography-root-MuiTimelineContent-root{
      font-size: 1em !important;
    }


  }

