.reactIcon{
    width: 4%;
    height: auto;
    margin-right: 1%;
}


@media only screen and (max-width: 1024px) {

    .reactIcon{
        width: 14%;
        height: auto;
        margin-right: 1%;
    }

    .css-ahj2mt-MuiTypography-root{
        font-size: 0.8em !important;
    }

  }