.css-ss28f8-MuiButtonBase-root-MuiButton-root{
    padding: 6px 35px !important;
}
    .MuiButtonBase-root:focus{
    color: #D9186A !important;
}
    .MuiButtonBase-root:active{
    color: #D9186A !important;
}
.css-1t6c9ts{
justify-content: center !important;
}
.css-ss28f8-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #fff !important;
    color: #D9186A !important;
}
.nav{
    /* top: 0 !important; */
    /* background-color: aqua !important; */
    /* opacity:0.4; */
}